body {
  font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
color: black;
}

.logo {
    border-radius: 25%;
}

#hero {
  background-color: #393E46;
  
  border: 0px solid #01204E;
}

.heroimg {
    border: 0px solid #028391 ;
    
}

.title-card {
  background-color: white;
  padding-top: 10px;
    }


    @media (max-width: 600px) { 
      .title-border {
  border: 10px solid #393E46;
}
}

.piccolo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
    background-color:#F8F9FA;
    width: 100%;
    color: black;
    border: 10px solid white;
}


.coollink {
  color: black;
  text-decoration: none;
  }

.coollink:hover {
  color: #00ADB5;
}

#coollink:hover {
  color: #00ADB5;
}

.container-mondrian {
  width: 187px;
  height: 187px;
  background-color: #000;
  display: grid;
  gap: 2.25px;
  grid-template-columns: 320fr 198fr 153fr 50fr;
  grid-template-rows: 414fr 130fr 155fr 22fr;
}

.one {
  background-color: #E72F24 ;
  }

.two {
  background-color: #F0F1EC ;
  grid-column: span 3;
}

.three {
  background-color: #F0F1EC;
  grid-row: span 2;
}

.four {
  background-color: #F0F1EC;
  grid-column: span 2;
  grid-row: span 2;
}

.five {
  background-color: #004592 ;
  border-bottom: 10px solid #000 ;
}

.six {
  background-color: #F0F1EC;
  grid-row: span 2;
}

.seven {
  background-color: #F0F1EC;
}

.eight {
  background-color: #F9D01E ;
}

.nine {
  background-color: #232629;
}



.contact-headings {
  display: flex;
  justify-content: right;
  align-items: center;
}
@media (min-width: 600px) {
.contact {
  font-size: 1.5rem;
}
}

#footer {
    background-color: #222831 ;
    color: white;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  
}

.footer {
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  }

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
    }



  
  